body {
    font-family: 'Arial, sans-serif';
    background: url('perfume_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content p {
    font-size: 1.2em;
    text-align: center;
}

.icon {
    width: 100px;
    cursor: pointer;
}

.message-section {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}
